/* BARRA NAV */
.nav>li{
 line-height: 50px;
 padding-right: 15px;
}

.navbar-default .navbar-brand , .navbar-default .navbar-nav>li>a{
 color: #fff;
}

/* END NAV BAR */

/* COMMON CLASS */
img{
  width: 100%;
  padding: 5px;
  border-radius: 20px;
  height: auto;

}

.line-mid{
  line-height: 140px;
}

[class*="col-"] {
 text-align: center; }


.bool-back-color{
 background-color:#00264d;
}
.bool-white-color{
 background-color:#fff;
}

.bool-text-blu{
 color:#001a4d;
}

.text-white{
  color: #fff;
}

.btn-2{
position: relative;
transform: translate(-50%, -50%);
left: 50%;
margin-top: 25px;
 }

.btn-3{
position: relative;
transform: translate(-50%, -50%);
right:42%;
margin-top: 25px;
 }

/* /COMMON CLASS */


/* FIRST ROW */
.start-boot{
	background:#1ABC9C;
	color: #fff;
	}

.start-boot ul li{
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	padding-top: 35px;
}

.img-avatar{
  width: 330px;
  height: auto;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 180px;
}
 /* END FIRST ROW */


 /* SECOND ROW */
.second-row{
	font-size: 35px;
	font-weight: 700;
	padding-top: 70px;
}

.glyphicon{
	padding: 40px 0;
  font-size: 25px;

}

.star-icon::before , .star-icon::after{
  content: "";
  display: inline-block;
  width: 100px;
  height: 4px;
  vertical-align:baseline;
  background: #fff;
  margin: 10px;
  border-radius: 3px;
}

.star-icon-dark::before, .star-icon-dark::after{
  content: "";
  display: inline-block;
  width: 100px;
  height: 4px;
  vertical-align:baseline;
  margin: 10px;
  border-radius: 3px;
  background-color: #003366;

}

/* END SECOND ROW */


/* ROW  ABOUT */

.row-green-about{
background:#1ABC9C;
  color: #fff;
}

/* END ROW ABOUT */


/* START CONTACT ME ROW */

.form-bott-bord{
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  color: #2c3e50;
  font-size: 20px;
}

.bool-form ::placeholder{
  color: #2c3e50;
  font-size: 20px;
}
/* END CONTACT ME ROW */

/* START FOOTER */

.footer-up{
  height: 200px;
  background:#1f3d7a;
}

.footer-down{
  height: 140px;
}
