[class*="col-"] {
 text-align: center;
 }


.bg-nav{
	background-color:#003366;
	height: 80px;
}
/* COMMON CLASS */
img{
	width: 350px;
	height: auto;
}

.box{
	height: 300px;
}

.btn{
position: relative;
transform: translate(-50%, -50%);
left: 50%;
margin-top: 25px;
}

/* FIRST ROW */
.start-boot{
	background:#1ABC9C;
	color: #fff;
	}

.start-boot ul li{
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	padding-top: 35px;
}
 /* END FIRST ROW */


 /* SECOND ROW */
.second-row{
	color: #0059b3;
	font-size: 35px;
	font-weight: 700;
	padding-top: 70px;
	height: 120px;
}

.glyphicon{
	padding-top: 40px;
}
/* END SECOND ROW */


/* ROW GREEN ABOUT */

.row-green-about{
  background-color:#1ABC9C;
}
